[package]
name = "basic-wall-jump"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
fromsoftware-shared.workspace = true
eldenring.workspace = true
pelite.workspace = true
